In [1]:
import sys 
import os
sys.path.append(os.path.abspath("src/Measurement"))
import globals
from src.Measurement.measurement import Measurement
from src.utils import *
globals.init()
print(globals.API_URL)

import os
import sys
import argparse
from tqdm import tqdm
import pickle
import pandas as pd
import numpy as np


from datasets import concatenate_datasets, load_dataset, DatasetDict, Dataset
from transformers import DataCollatorForSeq2Seq
from transformers import AutoModelForSeq2SeqLM, Seq2SeqTrainingArguments, Seq2SeqTrainer
import torch
import platform
import evaluate
from transformers import AutoTokenizer, BartModel, GPT2Model, T5ForConditionalGeneration
print(platform.platform())
from transformers import pipeline


from huggingface_hub import login

Linux-5.10.0-25-cloud-amd64-x86_64-with-glibc2.31
https://api-inference.huggingface.co/models/s-nlp/roberta-base-formality-ranker
https://api-inference.huggingface.co/models/s-nlp/roberta-base-formality-ranker
Linux-5.10.0-25-cloud-amd64-x86_64-with-glibc2.31

In [3]:
path = "test/dialogue/t5/gen_test/results"
file = "dataset_measurements.pkl"
measurements = load_pickle(path, file)

In [8]:
initial_dialogue_df = pd.read_csv('Data/initial_datasets/dialogue/full_data.csv')
initial_dialogue_df.head()

,id,document,summary
0,13862473,Fiona: What are you doing next weekend?\nYasmi...,Yasmine's friend is coming from New Zealand on...
1,13612148,Helen: What's on the menu today in the cafeter...,Helen prefers to order a pizza rather than eat...
2,13820476,Ali: Should we buy something for Alice?\r\nJul...,"Ali, Marcus and Julia are going to buy Alice a..."
3,13810188,Raiola: :Good evening. I have just sent some c...,"Raiola sent 7000 SH to a wrong account, but wi..."
4,13730336,Henry: Have you got plans for the New Year's e...,Dona will come with Henry to his friends' hous...

In [6]:
initial_dialogue_df[initial_dialogue_df['id'] == '13813183']

,id,document,summary
200,13813183,Fabienne: Has my parcel arrived?\r\nNathan: I ...,Fabienne is waiting for his comics to be deliv...

In [17]:
initial_dialogue_df['summary_length'] = initial_dialogue_df['summary'].apply(lambda sentence: len(sentence.strip()))
initial_dialogue_df

,id,document,summary,summary_length
0,13862473,Fiona: What are you doing next weekend?\nYasmi...,Yasmine's friend is coming from New Zealand on...,210
1,13612148,Helen: What's on the menu today in the cafeter...,Helen prefers to order a pizza rather than eat...,97
2,13820476,Ali: Should we buy something for Alice?\r\nJul...,"Ali, Marcus and Julia are going to buy Alice a...",95
3,13810188,Raiola: :Good evening. I have just sent some c...,"Raiola sent 7000 SH to a wrong account, but wi...",83
4,13730336,Henry: Have you got plans for the New Year's e...,Dona will come with Henry to his friends' hous...,73
...,...,...,...,...
16364,13728708,Lucas: i have news for you\r\nMichael: what is...,Brian managed to get tickets for Lucas and Mic...,253
16365,13819140,Maria: Where is the concert?\r\nTom: Hall 5\r\...,The concert is in Hall 5. John is waiting near...,56
16366,13729866,Tom: Hey honey\r\nHannah: Hi baby? how come at...,Tom has an important business meeting in two h...,154
16367,13819677,"Carl: Hey guys, how about inviting me to dinne...","Carl, Evelyn and Marek are going to have a din...",105
16368,13864553,Martha: Did you know that Paula lived on the s...,Paula used to live on the street in Latin Amer...,118

In [18]:
initial_dialogue_df[initial_dialogue_df['summary_length'] == min(initial_dialogue_df['summary_length'])]

,id,document,summary,summary_length
11813,13727708,Sue: WOW! you look awesome in this picture\r\n...,yyy,3