In [1]:
import sys 
import os
sys.path.append(os.path.abspath("src/Measurement"))
import globals
from src.Measurement.measurement import Measurement
from src.utils import *
globals.init()
print(globals.API_URL)

import os
import sys
import argparse
from tqdm import tqdm
import pickle
import pandas as pd
import numpy as np


from datasets import concatenate_datasets, load_dataset, DatasetDict, Dataset
from transformers import DataCollatorForSeq2Seq
from transformers import AutoModelForSeq2SeqLM, Seq2SeqTrainingArguments, Seq2SeqTrainer
import torch
import platform
import evaluate
from transformers import AutoTokenizer, BartModel, GPT2Model, T5ForConditionalGeneration
print(platform.platform())
from transformers import pipeline


from huggingface_hub import login

Linux-5.10.0-25-cloud-amd64-x86_64-with-glibc2.31
https://api-inference.huggingface.co/models/s-nlp/roberta-base-formality-ranker
https://api-inference.huggingface.co/models/s-nlp/roberta-base-formality-ranker
Linux-5.10.0-25-cloud-amd64-x86_64-with-glibc2.31

In [3]:
path = "test/dialogue/t5/gen_test/results"
file = "dataset_measurements.pkl"
measurements = load_pickle(path, file)

In [4]:
initial_dialogue_df = pd.read_csv('Data/initial_datasets/dialogue/full_data.csv')
initial_dialogue_df.head(5)

,id,document,summary
0,13862473,Fiona: What are you doing next weekend?\nYasmi...,Yasmine's friend is coming from New Zealand on...
1,13612148,Helen: What's on the menu today in the cafeter...,Helen prefers to order a pizza rather than eat...
2,13820476,Ali: Should we buy something for Alice?\r\nJul...,"Ali, Marcus and Julia are going to buy Alice a..."
3,13810188,Raiola: :Good evening. I have just sent some c...,"Raiola sent 7000 SH to a wrong account, but wi..."
4,13730336,Henry: Have you got plans for the New Year's e...,Dona will come with Henry to his friends' hous...

In [6]:
initial_dialogue_df[initial_dialogue_df['id'] == '13813183']

,id,document,summary
200,13813183,Fabienne: Has my parcel arrived?\r\nNathan: I ...,Fabienne is waiting for his comics to be deliv...